CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y
CONFIG_PACKAGE_cups=y
CONFIG_PACKAGE_libcups=y
CONFIG_PACKAGE_libcupscgi=y
CONFIG_PACKAGE_libcupsmime=y
CONFIG_PACKAGE_libcupsppdc=y
CONFIG_PACKAGE_libjpeg-turbo=y
CONFIG_PACKAGE_libpng=y
CONFIG_PACKAGE_luci-app-cupsd=y
